body{
    padding:0;
    margin:0;
    font-family: 'Questrial', sans-serif;
    color:#fff;
    scroll-behavior: smooth;
    background-color:#000;
}
.active{
    color: #d93e0f !important;
    border-bottom:2px solid #d93e0f;
}
.active:hover{
    border:none;
}
ul{
    list-style-type: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:#fff;
}
#firstnavul li a{
    color:#fff;
    text-decoration: none;
    margin-right:50px;
    font-weight:bold;
    padding:10px;
}
#firstnavul li a:hover{
    border-bottom:1px solid #d93e0f;
}
nav{
    display:flex;
    width:100%;
    margin:0 auto;
    justify-content:space-evenly;
    margin-bottom:50px;
    border-bottom:1px solid #7a7a7a;
    align-items:center;
    /* background:radial-gradient(circle, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 85%); */
}
#firstnavul{
    display:flex; 
    padding:10px 0;
}
#secondnavul{
    display:flex; 
    padding:15px;
}
#secondnavul li a{
    margin-right:15px;
}
i{
    text-align:center;
}
#topHeader{
    display:flex;
    justify-content: baseline;
}
#indexHeader{
    background-image:url('../img/pozadinamain.jpg');
    background-position:top;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    min-height: 950px;
    text-align:center;
}
#headerText{
    margin-top:420px;
}
 #headerCaption{
    margin-top:80px;
    margin:0 auto;
    width:80%;
    text-align:left;
    border-left:5px solid #d93e0f;
    font-size:150%;
}
#headerP{
    margin-top:80px;
    margin:0 auto;
    width:80%;
    text-align:left;
    font-size:250%;
}
#coloredtext{
    color:#d93e0f;
    font-weight:bolder;
}
#mission{
    background-color: #191919;
    padding:20px 0px;
    text-align: center;
}
#mission p{
    line-height:1.6;
}
#mid{
    width:100%;
    background-color:#191919;
    padding:40px 0px;
}
#midText{
    display:flex;
    width:80%;
    margin:0 auto;
    justify-content: space-evenly;
}
.midTextClass{
    width:30%;
    background-color:#000;
    align-items: center;
    margin:10px;
    border:2px solid #d93e0f;
}
.midTextClass i{
    font-size:500%;
    padding:20px;
}
.midTextClass p{
    font-size:120%;
    padding:10px;
}
.midInfoClass{
    display:flex;
}
.midInfoClass img{
    text-align: center;
}
.midInfoButton{
    text-align: center;
    padding-bottom:20px;
}
.midButton{
    color:#d93e0f;
    padding:10px 5px;
    border:2px solid #d93e0f;
}
.midButton:hover{
    color:#000;
    background-color:#d93e0f;
    transition:0.3s;
}
#mid2{
    width:100%;
    display:flex;
    height:400px;
    background-image: url("../img/infobackground.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;
    justify-content: space-evenly;
}
.mid2Info{
    width:20%;
    align-items: center;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size:120%;
    line-height:1.4;
}
.mid2Info h2{
    color:#d93e0f;
}
.mid2Info img{
    margin-top:15px;
}
#gym{
    width:100%;
    background-color:#191919;
}
#gymInfo{
    width:40%;
    margin:0 auto;
    text-align:center;
}
#gymInfo h1{
    letter-spacing: 2px;
    padding-top:20px;
    margin:0;
}
#gymInfo p{
    line-height: 1.6;
}
#gymPics{
    display:flex;
    justify-content: space-evenly;
}
.gymClass{
    width: 48%;
    height:800px;
}
.gymClass{
    background-image: url('../img/crossfitroom.jpg');
    margin:20px;
}
.gymClass:nth-child(2){
    background-image: url('../img/gymroom.jpg');
}.gymClass p{
    margin:20px;
    padding:5px;
    background-color:rgba(122, 122, 122,0.5);
    width:fit-content;
}
#staff{
    width:100%;
    display:flex;
    background-color:#191919;
    justify-content: space-evenly;
}
.staffMember{
    width:20%;
    margin:10px;
}
.staffMember a{
    text-align:center;
    word-break:break-all;
}
.staffMember img{
    width:100%;
}
footer{
    background-color:#000;
    border-top:2px solid #d93e0f;
}
#footertop{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
#footertop:nth-child(3) a{
    margin:10px;
}
.footerinfo{
    width:30%;
    text-align: center;
}
.footerInfo img{
    margin-top:50px;
}
.footrow{
    display:flex;
    align-items:baseline;
    width:30%;
}
.footrow i{
    margin-right:10px;
    color:#d93e0f;
    font-size:150%;
    text-align:center;
    margin-bottom:20px;
}
.footrow a{
    margin-right:10px;
    text-align:center;
    margin-bottom:20px;
    word-wrap:break-word;
}
.footrow a:hover{
    color:#d93e0f;
    transition:0.5s;
}
.footrow p,a{
    font-size: large;
    width:fit-content;
    white-space: nowrap;
}
.footrow:hover{
    color:#d93e0f;
    transition:0.5s;
}
#uselinks .footrow a{
    text-decoration: underline 1px solid #7a7a7a;
    margin-bottom:5px;
}
#footerbottom p{
    margin:0px;
    padding:10px;
    text-align:center;
}
#footerbottom{
    border-top:2px solid #0d0d0d;
}

/*---INDEX---*/
/*---SERVICES---*/
#services{
    background-image:url("../img/pozadina4.jpg");
    width:100%;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
#servicesMain{
    width:100%;
}
#servicesMain h1{
    text-align: center;
    padding-bottom:20px;
    border-bottom:2px solid #d93e0f;
    width:fit-content;
    margin:0 auto;
    margin-bottom:100px;
}
#grtr{
    text-align:center;
    padding-bottom:20px;
    border-bottom:2px solid #d93e0f;
    width:fit-content;
    margin:0 auto;
    margin-bottom:50px;
}
#prtr{
    text-align:center;
    padding-bottom:20px;
    border-bottom:2px solid #d93e0f;
    width:fit-content;
    margin:0 auto;
    margin-bottom:50px;
}
#trainingPacks{
    width:80%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color:rgba(25, 25, 25, 0.8);
    margin-bottom:50px;
}
.tr1{
    display:flex;
    margin-bottom:50px;
    width:80%;
}
.tr1img{
    width:50%;
}
.tr1img img{
    border:2px solid #d93e0f;
    width:100%;
}
.tr1text{
    width:50%;
    padding-left:20px;
}
.tr1text h2{
    color:#d93e0f;
}
#trainingPacks>:nth-child(3)>.tr1text{
    margin-top:140px;
}
#trainingPacks>:nth-child(1){
    margin-top:50px;
}
.tr2{
    display:flex;
    margin-bottom:50px;
    width:80%;
}
.tr2img{
    width:50%;
}
.tr2img img{
    border:2px solid #d93e0f;
    width:100%;
}
.tr2text{
    width:50%;
    padding-right:20px;
    text-align:right;
    margin-top:100px;
}
.tr2text h2{
    color:#d93e0f;
}
.bolded{
    font-weight:bold;
}
#personaltraining{
    text-align: center;
    padding:20px;
}
#personaltraining p{
    margin:50px 0px;
}
#personaltraining a{
    padding:10px 5px;
    border:2px solid #d93e0f;
    margin:20px;
    text-transform: uppercase;
    font-weight: bold;
    color:#d93e0f;
}#personaltraining a:hover{
    background-color:#d93e0f;
    color:#000;
    border:2px solid #d93e0f;
    transition:0.3s;
}
/*---SERVICES---*/
/*---CONTACT---*/
#pageBackground{
    height:700px;
    background-image:url("../img/contactback.jpg")
}
#contactform{
    background-color:#191919;
    width:60%;
    margin:0 auto;
    background-color:rgba(25, 25, 25, 0.8)
}
#upperform{
    display:flex;
    justify-content:space-evenly;
}
#midform{
    display:flex;
    justify-content: space-evenly;
}
input[type=text]{
    padding:15px 20px;
    width:30%;
    box-sizing: border-box;
    border-style:none;
    border-bottom:2px solid #d93e0f;
    background-color:#000;
    color:#fff;
    height:fit-content;
    margin:10px;
}
label{
    margin:20px 10px 0px 20px;
}
select{
    padding:15px 20px;
    width:30%;
    box-sizing: border-box;
    border-style:none;
    border-bottom:2px solid #d93e0f;
    background-color:#000;
    color:#666;
    margin:10px;
}
option{
    color:#666;
}
input[type=tel]{
    padding:15px 20px;
    width:30%;
    box-sizing: border-box;
    border-style:none;
    border-bottom:2px solid #d93e0f;
    background-color:#000;
    color:#fff;
    margin:10px;
}
#lowerform{
    display:flex;
    align-items: center;
}
textarea{
    padding:15px 20px;
    box-sizing: border-box;
    border-style:none;
    border-bottom:2px solid #d93e0f;
    background-color:#000;
    color:#fff;
    width:50%;
    margin:20px;
}
button[type="submit"]{
    height:fit-content;
    padding:10px 20px;;
    font-size:125%;
    background-color:#000;
    color:#666;
    border-style:none;
    border:2px solid #d93e0f;
    cursor:pointer;
}
button[type="submit"]:hover{
    background-color:#d93e0f;
    color:#000;
    transition:.3s;
}
button[type="reset"]{
    height:fit-content;
    padding:10px 20px;
    font-size:125%;
    background-color:#000;
    color:#666;
    border-style:none;
    border:2px solid #d93e0f;
    cursor:pointer;
}
button[type="reset"]:hover{
    background-color:#d93e0f;
    color:#000;
    transition:.3s;
}
#buttons{
    display:flex;
    justify-content: space-evenly;
    width:50%;
    align-items:baseline;
}
/*---CONTACT---*/
/*---PRICING---*/
#pricing{
    background-image:url("../img/pricingback.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    min-height:950px;
    text-align:center;
}
#firstpricing{
    width:60%;
    margin:0 auto;
    background-color:rgba(25, 25, 25, 0.8);
    border:2px solid #d93e0f;
    margin-bottom:50px;
}
#firstpricing>.pricerow:last-of-type{
    border-bottom:none;
}
#pricemenu{
    padding:15px 30px;
    border-bottom:2px solid #d93e0f;
    width:fit-content;
    margin:0 auto;
    margin-bottom:50px;
}
.pricerow{
    display:flex;
    width:100%;
    justify-content: space-between;
    border-bottom:2px solid #d93e0f;
}
.priceleft{
    font-size:125%;
    padding:10px;
    border-right:2px solid #d93e0f;
    width:80%;
    text-align:left;
}
.priceright{
    font-size:125%;
    text-align:center;
    width:20%;
    display:flex;
    justify-content: center;
    align-items:center;
}
#secondpricing{
    width:60%;
    margin:0 auto;
    background-color:rgba(25, 25, 25, 0.8);
    border:2px solid #d93e0f;
    margin-bottom:50px;
}
#secondpricing>.pricerow:last-of-type{
    border-bottom:none;
}
.randomp{
    padding:50px 0px;
    margin:0;
    font-size:150%;
}
/*---PRICING---*/
/*---AUTHOR---*/
#authorMain{
    height:700px;
    background-image: url("../img/authorback4.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
#aboutAuthor{
    width:60%;
    display:flex;
    background-color:rgba(25, 25, 25, 0.8);
    margin:0 auto;
    border-radius:10px;
}
#authorLeft{
    width:40%;
    overflow:hidden;
    height:auto;
    padding:20px;
}
#authorLeft img{
    width:100%;
    border-radius:10px;
}
#authorRight{
    width:50%;
    padding:10px;
}
/*---AUTHOR---*/
/*---TRAINERS---*/
.trainerMain{
    width:100%;
    background-image:url("../img/pozadina2.jpg");
    height:900px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.trainer{
    width:60%;
    margin:0 auto;
    background-color:rgba(25, 25, 25, 0.8);
    margin-bottom:50px;
    display:flex;
}
.trainerLeft{
    width:50%;
    padding:10px;
}
.trainerLeft img{
    width:70%;
}
.trainerRight{
    width:40%;
}
